- @users.each do |user|
  %tr
    %td= link_to user.id, user_path(user.id)
    %td= link_to user.full_name, user_path(user.id)
    %td= user.sex
    %td= user.grade
    %td= user.high_school_label
    %td
      - user.games.each_with_index do |game, i|
        %div
          = "តេស្តលើកទី #{i + 1}: តេស្តស្វែងយល់អំពីខ្លួនឯង (តេស្ត #{game.personal_understandings.length}ដង, ធ្លាក់ "
          - fails_len = game.personal_understandings.fails.length
          %span{ class: ("dangerous" if fails_len > 1)}
            = fails_len
          = "ដង)"
    %td= link_to 'ទាញយក', users_path(format: 'csv'), target: '_blank'
