- content_for :toolbar_right_side do
  = link_to 'ទាញយកលទ្ធផល', download_users_path, target: '_blank', id: 'btn-download', class: 'btn btn-success'

= render partial: 'shared/side_nav', locals: {title: 'អ្នកប្រើប្រាស់'}

.main
  = render 'filter'

  %table.table-bordered.table.central{style: "width:80%;", align: "center"}
    %thead
      %tr
        %th{width: 60} #
        %th សិស្ស
        %th ភេទ
        %th ថ្នាក់ទី
        %th ឈ្មោះសាលា
        %th ការធ្វើតេស្ត

    %tbody#body-content
      = render partial: 'users'

  .center
    = paginate @users
