= render 'shared/side_nav'
.container
  .row
    .col-md-10
      .tab{:role => "tabpanel"}
        / Nav tabs
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#Section1", :role => "tab"} ប្រវត្តិរូបសង្ខេប
          %li{:role => "presentation"}
            %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#Section2", :role => "tab"} លទ្ធផលធ្វើតេស្ត
        / Tab panes
        .tab-content.tabs
          #Section1.tab-pane.fade.in.active{:role => "tabpanel"}
            = render 'shared/show_user_profile', {:active => false}
          #Section2.tab-pane.fade{:role => "tabpanel"}
            %br
            %table.table-bordered.table.central{style: "width:80%;", align: "center"}
              %thead
                %tr
                  %th{width: 60} #
                  %th តេស្ត
                  %th កាលបរិច្ឆេទ
                  %th តេស្តស្វែងយល់អំពីខ្លួនឯង
              %tbody
                - @user.games.each_with_index do |game, i|
                  %tr
                    %td
                      = i + 1
                    %td
                      = link_to "តេស្តលើកទី #{i + 1}", user_game_path(:user_id =>  @user.id, :id => game.id)
                    %td
                      = game.created_at
                    %td
                      = "តេស្ត #{game.personal_understandings.size}ដង, ធ្លាក់ "
                      - fails_len = game.personal_understandings.fails.size
                      %span{ class: ("dangerous" if fails_len > 1)}
                        = "#{fails_len}ដង"
