.container
  .center
    = image_tag 'logo.png', class: 'logo'
    %h2 ត្រីវិស័យ

  = simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f|
    .control-wrapper
      %h3.center Forgot your password?

      = f.input :email, type: :email, autofocus: true
      = f.submit 'Send me reset password instructions', class: 'btn btn-primary'

      .link-wrapper
        = render "devise/shared/links"
