.profile-photo.col-md-3
  %br
  %center
    - url = @user.photo.url || 'default_profile.png'
    = image_tag url ,:class=> "img-circular-profile"
.col-md-9
  %br
  .shadow-box
    .content-box
      .title
        %b ពត៍មានផ្ទាល់ខ្លួន
      .content-display{:style => "margin-top:2rem;"}
        %form{:role => "form"}
          .form-group.meddium-margin-bottom
            %label.small-gray ឈ្មោះពេញ
            .content-data
              %b= " : #{@user.full_name}"
          .form-group.meddium-margin-bottom
            %label.small-gray ភេទ
            .content-data
              %b= " : #{@user.sex}"
          .form-group.meddium-margin-bottom
            %label.small-gray ថ្ងៃខែឆ្នាំកំណើត
            .content-data
              %b= " : #{@user.date_of_birth}"
          .form-group.meddium-margin-bottom
            %label.small-gray លេខទូរស័ព្ទ
            .content-data
              %b= " : #{@user.phone_number}"
          .form-group.meddium-margin-bottom
            %label.small-gray ថ្នាក់ទី
            .content-data
              %b= " : #{@user.grade}"
          .form-group.meddium-margin-bottom
            %label.small-gray រៀននៅសាលា
            .content-data
              %b= " : #{@user.high_school.try(:name_km)}"
          .form-group.meddium-margin-bottom
            %label.small-gray អាស័យដ្ឋានបច្ចុប្បន្ន
            .content-data
              %b= " : #{@user.address}"
  %br

