- arr = [{group: 'ភាសារខ្មែរ', subjects: [:khmer_reading, :khmer_writing]}, {group: 'ភាសាបរទេស', subjects: [:english]}, {group: 'សិក្សាសង្គម', subjects: [:social_study_ethics_and_citizenship, :social_study_geography, :social_study_history]}, {group: 'វិទ្យាសាស្ត្រ', subjects: [:math, :science_physics, :science_chemistry, :science_biology]}, {group: 'ជំនាញទន់', subjects: [:soft_skill_communication, :soft_skill_brave, :soft_skill_teamwork, :soft_skill_problem_solving, :soft_skill_public_speaking]}]

#secondTestOne.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header.header-wrapper
        %h5#exampleModalLabel.modal-title.header-title ការបំពេញមុខវិជ្ជា
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×

      .modal-body
        - arr.each do |obj|
          .shadow-box
            .meddium-margin-bottom
              %label.small-gray= obj[:group]

            - obj[:subjects].each do |item|
              %hr{style: "margin-top: 0; margin-bottom: 10px;"}
              = I18n.t(item.to_s)

              .meddium-margin-bottom{style: "margin-top: 1rem;"}
                %span.fi-circle-check
                  - img_name = subject[item] != "ខ្សោយ" ? 'check.png' : 'unchecked.png'
                  = image_tag "/images/#{img_name}", :class=> "img-circular-small"

                = subject[item]
          %br
      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Done
