#secondTestFour.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header.header-wrapper
        %h5#exampleModalLabel.modal-title.header-title ការផ្តល់អនុសាសន៏
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .shadow-box
          .content-box
            .title ចូលប្អូនអានអនុសាសន៏ខាងក្រោម

            .content-display
              %b= "#{@user.full_name}"
              %span= "អ្នកបានជ្រើសរើសមុខរបរដែលអ្នកចូលចិត្តបំផុតនោះគឺ #{@game.goal_career.name} ដែលមុខរបរនេះ #{@game.goal_career.categorizable.title} ។"

              %p= "#{@game.goal_career.categorizable.description}"
              %p បញ្ជាក់: សិស្សានុសិស្សត្រូវប្រឡងជាប់ថ្នាក់ទី ១២ និងរៀនអោយពូកែទើបអាចសម្រេចបានគោលបំណង រឺ គោលដៅ។
              %p ដូចនេះសូមអ្នកផ្ទៀងផ្ទាត់យ៉ាងលម្អិតរវាង ការវាយតម្លៃលើមុខវិជ្ជាដែលអ្នកបានរៀន​​ និង​​​បុគ្គលិកលក្ខណៈរបស់អ្នកជាមួយនឹងមុខរបរដែលអ្នកពេញចិត្តដូចខាងក្រោម ៖

              %h4 មុខវិជ្ជា
              %span="ជា#{@game.goal_career.categorizable.title} អ្នកគួរពូកែលើមុខវិជ្ជាដូចខាងក្រោម ៖"
              %ul
                - @game.characteristic.concern_subjects.each do |subject|
                  %li= I18n.t(subject)

              %h4 ចម្លើយរបស់អ្នក
              %ul
                - @game.characteristic.concern_subjects.each do |subject|
                  %li
                    = I18n.t(subject)
                    %b= "(#{@game.subject[subject.underscore]})"

              %h4 អ្នកអាចពង្រឹងបន្ថែមលើមុខវិជ្ជាសំខាន់ៗទាំងនោះតាមរយៈគន្លឹះខាងក្រោម ៖
              %ul
                - @game.characteristic.concern_subjects.each do |subject|
                  - if @game.subject[subject.underscore] != "ខ្លាំង"
                    %li
                      = I18n.t(subject)
                      - show_tip(subject, @game.subject[subject.underscore]).each do |l|
                        %div= "- #{l.tip}"

              %h4 បុគ្គលិកលក្ខណៈ
              %span= "ជា#{@game.goal_career.name} អ្នកគួរមានបុគ្គលិកលក្ខណៈជាមនុស្ស៖"
              %ul
                - @game.characteristic.concerned_entries.each do |entry|
                  %li= entry.name

              %h4 ចម្លើយរបស់អ្នក
              %ul
                - @game.entries.each do |entry|
                  %li= entry.name
              %p
                បុគ្គលិកលក្ខណៈឆ្លុះបញ្ចាំង ពីអត្តចរិករបស់មនុស្ស ដូចគ្នានេះដែរការងារនិមួយៗក៏ត្រូវការមនុស្សដែលមានបុគ្គលិកលក្ខណៈអោយស៊ីនឹងវាផងដែរ ទើបយើងបំពេញការងារនោះបានប្រសើរ និង រីកចំរើនចំពោះខ្នួនឯង ដូចនេះសូម អ្នកផ្ទៀងផ្ទាត់ពីបុគ្គលិកលក្ខណៈរបស់ប្អូន ថាតើវាសាកសមសម្រាប់អ្នកហើយរឺនៅ។

      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Done
