- arr = [[:are_you_going_to_study_till_grade12], [:are_your_parents_allow_you_to_study_till_grade12], [:have_you_ever_thought_of_career, :career_name, :how_to_reach_career_goal, :does_parents_agree_with], [:ever_talked_with_anyone_about_career], [:how_to_reach_job_vacancy]]

#firstTest.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header.header-wrapper
        %h5#exampleModalLabel.modal-title.header-title ការស្វែងយល់អំពីខ្លួនឯង
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×

      - personal_understandings.each_with_index do |personal_understanding, i|
        .modal-header
          %h5#exampleModalLabel.modal-title= "លើកទី #{i+1}"
        .modal-body
          - arr.each_with_index do |items, index|
            .shadow-box
              .content-display
                - items.each do |item|
                  .meddium-margin-bottom
                    %label.small-gray= I18n.t(item.to_s)

                  - if answer = personal_understanding[item].presence
                    - if item == :ever_talked_with_anyone_about_career
                      - answer.split(';').each do |name|
                        .meddium-margin-bottom
                          %span.fi-circle-check
                            = image_tag "/images/check.png", :class=> "img-circular-small"
                          = name

                    - else
                      - if answer.downcase == 'yes' || answer.downcase == 'no'
                        = render answer.downcase
                      - else
                        .meddium-margin-bottom= answer

                  - else
                    = render 'no_data'
            %br

      .modal-footer
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Done
