= render partial: 'shared/side_nav', locals: {title: "ការធ្វើតេស្តរបស់ #{@user.full_name}"}
.container
  .row
    .col-md-10
      .tab{:role => "tabpanel"}
        = render 'shared/tab_header'
        / Tab panes
        .tab-content.tabs
          .tab-pane.fade.in.active{:role => "tabpanel"}
            .col-md-12
              %br
                %b
                  %center
                    #div{style: "width:100%;", align: "left"}
                      %a.btn.icon-btn.btn-primary{:href => "#{user_personality_tests_path(@user)}"}
                        %span.glyphicon.btn-glyphicon.glyphicon-arrow-left.img-circle.text-primary>
                        - num = @user.personality_tests.map(&:id).index(@test.id) + 1
                        = "ធ្វើតេស្តលើកទី #{num}"
              %br
              ធ្វើតេស្តអំពីបុគ្គលិកលក្ខណៈ
              %br
              %br
              = render partial: 'box_item', locals: {css_id: 'realistic', title: 'ប្រាកដនិយម'}
              = render partial: 'box_item', locals: {css_id: 'investigative', title: 'ពូកែអង្កេត'}
              = render partial: 'box_item', locals: {css_id: 'artistic', title: 'សិល្បៈនិយម'}
              = render partial: 'box_item', locals: {css_id: 'social', title: 'សង្គម'}
              = render partial: 'box_item', locals: {css_id: 'enterprising', title: 'ត្រិះរិះពិចារណា'}
              = render partial: 'box_item', locals: {css_id: 'conventional', title: 'សណ្ដាប់ធ្នាប់'}
              %br


= render partial: 'modal', locals: {css_id: 'realistic', title: 'ប្រាកដនិយម', entries: @test.personalities.realistics}
= render partial: 'modal', locals: {css_id: 'investigative', title: 'ពូកែអង្កេត', entries: @test.personalities.investigatives}
= render partial: 'modal', locals: {css_id: 'artistic', title: 'សិល្បៈនិយម', entries: @test.personalities.artistics}
= render partial: 'modal', locals: {css_id: 'social', title: 'សង្គម', entries: @test.personalities.socials}
= render partial: 'modal', locals: {css_id: 'enterprising', title: 'ត្រិះរិះពិចារណា', entries: @test.personalities.enterprisings}
= render partial: 'modal', locals: {css_id: 'conventional', title: 'សណ្ដាប់ធ្នាប់', entries: @test.personalities.conventionals}

