.container
  .center
    = image_tag 'logo.png', class: 'logo'
    %h2 ត្រីវិស័យ

  = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
    .control-wrapper
      %h3.center បញ្ចូលគណនី

      = f.input :email, type: :email
      = f.input :password, type: :password
      - if devise_mapping.rememberable?
        = f.input :remember_me, as: :boolean

      = f.submit 'ចូលគណនី', class: 'btn btn-primary'

      .link-wrapper
        = render "devise/shared/links"
