.toolbar
  %a{href: '/', style: 'text-decoration: none'}
    %span{:style => 'font-size:20px; color: #fff'} ←  អំពីកម្មវិធី

.main
  .card{style: 'width: 70%; margin: 0 auto;'}
    .card-body
      %h5.card-title.center
        %strong កម្មវិធី​ត្រីវិស័យ

      %p
        គឺ​ជា​កម្មវិធី​ទូរស័ព្ទ​មួយ​ដែល​អនុញ្ញាត​ឱ្យ​សិស្ស​ថ្នាក់​ទី៩ ដល់​ថ្នាក់​ទី១២
        អាច​ធ្វើ​ការ​ស្វែងយល់​អំពី​ខ្លួន​ឯង ដោយ​ធ្វើ​ការ​តេស្ត​ជា​មួយ​នឹង​កម្មវិធី ដើម្បី​អាច​អោយ​គាត់​ស្គាល់​ពី​ជំនាញ​ទន់
        និង​ជំនាញ​រឹង​ និង​កំណត់​គោលដៅ​របស់​ខ្លួន សម្រាប់​ការ​ជ្រើសរើស​ជំនាញ​វិជ្ជាជីវៈ​នា​ពេល​អនាគត។

      %p
        បន្ថែម​ពី​នេះ​ទៀត​កម្មវិធី​ត្រីវិស័យ បាន​បញ្ចូល​នៅ​ព័ត៌មាន​ទាក់ទង​ជា​មួយ​នឹង​គ្រឹះស្ថាន​សិក្សា​នៅ​ក្នុង​ស្រុក​
        ពត័មាន​ជំនាញ​ដែល​យើង​ត្រូវ​សិក្សា​នៅ​សាកលវិទ្យាល័យ ក៏​ដូច​ជាព័ត៌មាន​អំពី​ជំនាញ​វិជ្ជាជីវៈ
        ដោយ​ភ្ជាប់​ជា​មួយ​សាលា​ដែល​យើងអាច​សិក្សា​បាន។

      %p.center.paragraph
        %strong សហការផលិតដោយ

      %p.center
        = link_to 'http://www.moeys.gov.kh', target: "_blank", style: 'margin-right: 20px' do
          = image_tag 'about/moeys.png', style: "width: 65px"

        = link_to 'http://www.kapekh.org', target: "_blank" do
          = image_tag 'about/kape.png', style: "width: 70px"

      %p.center.paragraph
        %strong អភិវឌ្ឍន៍ដោយ

      %p.center
        = link_to 'http://ilabsoutheastasia.org', target: "_blank" do
          = image_tag 'about/ilab.png', style: "width: 180px"

      %p.center.paragraph
        %strong គាំទ្រថវិកាពី

      %p.center
        = link_to 'https://www.usaid.gov/cambodia', target: "_blank" do
          = image_tag 'about/usaid.png', style: "width: 140px"

        = link_to 'https://www.development-innovations.org/', target: "_blank", style: 'margin-left: 20px; margin-right: 20px' do
          = image_tag 'about/di.png', style: "width: 140px"

        = link_to 'https://spidercenter.org/', target: "_blank" do
          = image_tag 'about/spider.png', style: "width: 140px"



