!!!
%html
  %head
    %title TreyVisayApi
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'bootstrap-select', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'variables', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'compile', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'bootstrap-select', 'data-turbolinks-track': 'reload'


  %body{id: css_id_name}
    - if notice.present?
      %p.alert.alert-success
        %button.close{type: 'button', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
        = notice
    - if alert.present?
      %p.alert.alert-danger
        %button.close{type: 'button', 'data-dismiss' => 'alert', 'aria-label' => 'Close'}
        = alert
    = yield
