!!!
%html
  %head
    %title TreyVisayApi
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{id: css_id_name}
    - if notice.present?
      %p.notice.center= notice
    - if alert.present?
      %p.alert.center= alert
    = yield
