= render partial: 'shared/side_nav', locals: {title: 'គណនេយ្យ'}
.main
  %br
  %center
    #div{style: "width:80%;", align: "right"}
      %a.btn.icon-btn.btn-primary{:href => "/accounts/new"}
        %span.glyphicon.btn-glyphicon.glyphicon-plus.img-circle.text-primary>
        បង្កើតគណនេយ្យ
  %br
  .clear
  %table.table-bordered.table.central{style: "width:80%;", align: "center"}
    %thead
      %tr
        %th{width: 60} #
        %th សារអេឡិចត្រូនិច
        %th តួនាទី
        %th សាលា
        %th
    %tbody
      - @accounts.each do |account|
        %tr
          %td
            = link_to account.id, edit_account_path(account.id)
          %td
            = link_to account.email, edit_account_path(account.id)
          %td
            = account.role
          %td
            - if account.is_counsellor and account.schools
              - account.schools.each do |school|
                = "#{school}"
          %td
            %a.btn.btn-info.btn-xs{:href => edit_account_path(account.id)}
              %span.glyphicon.glyphicon-edit
              កែតម្រូវ
            - if account.id != current_account.id
              %a.btn.btn-danger.btn-xs{:rel => "nofollow", :href => account_path(account.id), "data-method" => "delete",  data: { confirm: 'តើអ្នពិតជាចង់លុបគណនេយ្យនេះមែនទេ?' }}
                %span.glyphicon.glyphicon-remove
                លុបចោល
